[flake8]
max-line-length = 88
extend-ignore = E203, W503

# don’t lint QC’s template/backtests or other noise
exclude =
  BasicTemplate,
  **/backtests/,
  Cache,
  data,
  .git,
  .github,
  .venv,
  env
